{% extends 'base.html.twig' %}
{% block title %}Accueil — CampusLink{% endblock %}
{% block body %}
<div class="page-header">
    <div>
        <div class="page-title">Bienvenue sur CampusLink 👋</div>
        <div class="page-sub">Plateforme de services étudiants</div>
    </div>
</div>
{% endblock %}