<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
         cacheDirectory=".phpunit.cache"
>
    <php>
        <env name="APP_ENV" value="test"/>
        <env name="SHELL_VERBOSITY" value="-1"/>
        <!-- Optionnel : compte réel pour test HTTP login (sinon ignoré) -->
        <env name="SMOKE_LOGIN_EMAIL" value=""/>
        <env name="SMOKE_LOGIN_PASSWORD" value=""/>
        <env name="SMOKE_LOGIN_USER_TYPE" value="ETUDIANT"/>
    </php>
    <testsuites>
        <testsuite name="CampusLink">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
